html {
	font-family: sans-serif;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	box-sizing: border-box;
	overflow-y: scroll;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
	word-wrap: break-word;
	font-kerning: normal;
	font-feature-settings: "kern", "liga", "clig", "calt";
	font-family: 'Gothic A1', -apple-system, BlinkMacSystemFont, Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
}

h1,h2,h3 {font-family:"Playfair Display"; margin: 0 0 0.5em 0; line-height: 1}

* {
	box-sizing: inherit;
}
*:before {
	box-sizing: inherit;
}
*:after {
	box-sizing: inherit;
}

p {
	font-size: 0.95rem;
	font-weight: 400;
}

a {text-decoration: none; color: inherit}

ul {
	list-style-type: none;
	padding: 0;

	li { display: inline-block; margin: 0 1em 0 0; line-height: 1.8;}
}


.headroom-wrapper {
    width: 50vw;
    margin-right: 0;
    margin-left: auto;
}
@media only screen and (max-width: 550px) {
    .headroom-wrapper {
    	width: 80vw;
	}
     
			}
			
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 700ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}


@media only screen and (max-width: 550px) {
	html {
		font-size: 90%;
	}
}
